body {
    background-color: #313639;
    color: #DADCE0;
    font-family: 'Lato', sans-serif;
    margin-left: 25vw;
    margin-right: 25vw;
    margin-top: 0;
}

.banner {
    margin-left: -25vw;
    margin-right: -25vw;
    text-align: center;
    padding-top: 2em;
    padding-bottom: 2em;
}

p {
    text-align: left;
    line-height: 1.5;
}

p ~ p {
    padding-top: 1.5em;

}

p:nth-child(2) {
    border-top: 2px solid red;
}

input {
    width: 70px;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    background-color: #1f1f1f;
    border: 2px solid black;
    color: lemonchiffon;
}

.display {
    color: lemonchiffon;
}

th, td {
    padding: 8px;
    /*border: 1px solid black;*/
}

/* source: https://stackoverflow.com/a/7782251 */
canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
    display: block;
    background-color: lightgray;
    border:4px solid gray;
}

.footer a {
    padding-top: 8em;
    padding-bottom: 2em;
    text-decoration: none;
    width: 100%;
    color: lemonchiffon;
    text-align: center;
}